.card-destaque{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(12,12,12, 0.5 ) 0%, rgba(12,12,12,0) 100%);
    width: 100%;
    height: 20rem;
}

.card-destaque > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.card-destaque button{
    background-color: #0c0c0c;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #c7c7c7;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.card-destaque .header-subtitle{
    text-align: center;
    max-width: 450px;
}

.card-destaque div h2{
    margin-bottom: 1rem;
}

.card-destaque button:hover{
    transform: scale3d(1.2, 1.2, 1);
    background-color: #0c0c0ccc;
}

.title{
    margin: 1rem auto;
    text-align: center;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background-color: #c7c7c7;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}


.gray-background{
    border-radius: 30px;
    box-shadow: 0px -3px 53px 5px rgba(0, 0, 0, 0.35);
    background-color: #0c0c0c;
    overflow: hidden;
    width: 90vw;
    margin: 2rem auto;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    justify-content: space-between;
    padding: 0 1rem 3rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols-4 img{
    max-width: 100%;
}


.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px);
    
}

@media(max-width: 800px) {

    .card-destaque{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .card-destaque button{
        margin-bottom: 2rem;
    }

    .cols-3{
        grid-template-columns: repeat(1, 1fr);
    }

    .cols-4{
        grid-template-columns: repeat(2, 1fr);
    }

}